<p><i>"Іноді, нулі нагадують дуже смачні пончики. І кожного разу, коли ми доїдаємо пончик, нам хочется ще один, а потім
ще один, а потім ще..."</i></p>

<p>
    Тобі дано список з цілими числами. Твоя задача в цій місії подвоїти всі нулі у заданому списку (думай при цьому про пончики ;-P).
</p>


<p>
    <strong>Вхідні дані: </strong>{% if is_js %}Масив{% else %}Список{% endif %}.

<p>
    <strong>Вихідні дані: </strong>{% if is_js %}Масив{% else %}Список{% endif %}.
</p>

<div class="for_info_only">
    <p>
        <strong>Приклад:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p><i>Якщо ти вирішив цю місію, то можеш зі спокійною душею посмакувати пончиком!=)</i></p>
