<p><i>"Иногда нули напоминают очень вкусные пончики. И каждый раз, доедая пончик, нам хочется ещё один, а потом ещё, и ещё..."</i></p>

<p>
    Перед вами список целых чисел. Ваша задача в этой миссии – удвоить все нули в данном списке (думайте о пончиках ;-P).
</p>


<p>
    <strong>Входные данные: </strong>{% if is_js %}Массив{% else %}Список{% endif %}.

<p>
    <strong>Выходные данные: </strong>{% if is_js %}Массив{% else %}Список{% endif %}.
</p>

<div class="for_info_only">
    <p>
        <strong>Пример:</strong>
    </p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p><i>Если вы прошли миссию, можете со спокойной душой насладиться пончиком!=)</i></p>
